@import '@servicenow/sass-kit/host';


.ribbon-container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 12.0625rem;
    padding-top:10px;
    padding-left: 10px;
    border-style: solid;
    border-image: initial;
    border-radius: 0.125rem;
    border-width:1px;
    border-color: #ccc;
    flex: 1 1 auto;
    background-color: #fff;
}
.title{
    font-weight: 400;
    font-size: 1rem;
    color: RGB(var(--now-color--neutral-18,22,27,28));
    margin: 0px;
    width: 95%;
    border-bottom: 1px solid #ccc;
    margin-bottom:25px;
}
.body-container{
    display: flex;                  /* establish flex container */
   // flex-direction: row;            /* default value; can be omitted */
   // flex-wrap: nowrap;              /* default value; can be omitted */
   justify-content: space-between; /* switched from default (flex-start, see below) */
   // background-color: lightyellow;
   padding: 5px !important;

}
